body {
    color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

h1 {
    color: #fff;
}

h2 {
    color: #0e9bb0;
}

.hero-lg h2 {
    color: #0bc2dd;
}

h4 {
    color: #018093;
}

a,
a:visited,
a.btn.btn-link,
a.btn.btn-link:visited,
a.btn.btn-link:active {
    color: #007a8c;
    font-weight: bolder;
}

a.underline,
a.underline:visited,
a.underline.btn.btn-link,
a.underline.btn.btn-link:visited,
a.underline.btn.btn-link:active {
    color: inherit;
    text-decoration: underline;
}

a:hover,
a.btn.btn-link:hover {
    color: #0e9bb0;
    text-decoration: none;
}

a.underline:hover,
a.underline.btn.btn-link:hover {
    color: #0e9bb0;
    text-decoration: underline;
}

a.btn.btn-link.grow-hover:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
}

.logo {
    color: rgba(67, 67, 67, 1);
}

.small-logo {
    width: 32px;
    height: 32px;
    margin: 0.5rem;
}

#large-logo {
    animation-name: clockwork;
    animation-duration: 15.5s;
    animation-iteration-count: 4;
    transform-origin: 50% 50%;
    display: inline-block;
}

@keyframes clockwork {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card,
.card-image {
    margin-top: 10px;
}

.centered {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vertically-spaced {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.vertically-centered {
    align-items: center;
}

.icon {
    color: #0e9bb0;
    margin: 2rem 2rem 1rem 2rem;
}

.hero-lg {
    background-color: rgba(67, 67, 67, 1);
    /* background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%)); */
    background-image:
        linear-gradient(
            161deg,
            rgba(121, 121, 121, 0.02) 0%,
            rgba(121, 121, 121, 0.02) 16.667%,
            rgba(193, 193, 193, 0.02) 16.667%,
            rgba(193, 193, 193, 0.02) 33.334%,
            rgba(177, 177, 177, 0.02) 33.334%,
            rgba(177, 177, 177, 0.02) 50.001000000000005%,
            rgba(5, 5, 5, 0.02) 50.001%,
            rgba(5, 5, 5, 0.02) 66.668%,
            rgba(229, 229, 229, 0.02) 66.668%,
            rgba(229, 229, 229, 0.02) 83.33500000000001%,
            rgba(211, 211, 211, 0.02) 83.335%,
            rgba(211, 211, 211, 0.02) 100.002%
        ),
        linear-gradient(
            45deg,
            rgba(223, 223, 223, 0.02) 0%,
            rgba(223, 223, 223, 0.02) 14.286%,
            rgba(70, 70, 70, 0.02) 14.286%,
            rgba(70, 70, 70, 0.02) 28.572%,
            rgba(109, 109, 109, 0.02) 28.572%,
            rgba(109, 109, 109, 0.02) 42.858%,
            rgba(19, 19, 19, 0.02) 42.858%,
            rgba(19, 19, 19, 0.02) 57.144%,
            rgba(180, 180, 180, 0.02) 57.144%,
            rgba(180, 180, 180, 0.02) 71.42999999999999%,
            rgba(63, 63, 63, 0.02) 71.43%,
            rgba(63, 63, 63, 0.02) 85.71600000000001%,
            rgba(87, 87, 87, 0.02) 85.716%,
            rgba(87, 87, 87, 0.02) 100.002%
        ),
        linear-gradient(
            337deg,
            rgba(142, 142, 142, 0.02) 0%,
            rgba(142, 142, 142, 0.02) 20%,
            rgba(164, 164, 164, 0.02) 20%,
            rgba(164, 164, 164, 0.02) 40%,
            rgba(203, 203, 203, 0.02) 40%,
            rgba(203, 203, 203, 0.02) 60%,
            rgba(228, 228, 228, 0.02) 60%,
            rgba(228, 228, 228, 0.02) 80%,
            rgba(54, 54, 54, 0.02) 80%,
            rgba(54, 54, 54, 0.02) 100%
        ),
        linear-gradient(
            314deg,
            rgba(187, 187, 187, 0.02) 0%,
            rgba(187, 187, 187, 0.02) 12.5%,
            rgba(170, 170, 170, 0.02) 12.5%,
            rgba(170, 170, 170, 0.02) 25%,
            rgba(214, 214, 214, 0.02) 25%,
            rgba(214, 214, 214, 0.02) 37.5%,
            rgba(187, 187, 187, 0.02) 37.5%,
            rgba(187, 187, 187, 0.02) 50%,
            rgba(190, 190, 190, 0.02) 50%,
            rgba(190, 190, 190, 0.02) 62.5%,
            rgba(6, 6, 6, 0.02) 62.5%,
            rgba(6, 6, 6, 0.02) 75%,
            rgba(206, 206, 206, 0.02) 75%,
            rgba(206, 206, 206, 0.02) 87.5%,
            rgba(171, 171, 171, 0.02) 87.5%,
            rgba(171, 171, 171, 0.02) 100%
        ),
        linear-gradient(
            300deg,
            rgba(243, 243, 243, 0.01) 0%,
            rgba(243, 243, 243, 0.01) 12.5%,
            rgba(209, 209, 209, 0.01) 12.5%,
            rgba(209, 209, 209, 0.01) 25%,
            rgba(179, 179, 179, 0.01) 25%,
            rgba(179, 179, 179, 0.01) 37.5%,
            rgba(3, 3, 3, 0.01) 37.5%,
            rgba(3, 3, 3, 0.01) 50%,
            rgba(211, 211, 211, 0.01) 50%,
            rgba(211, 211, 211, 0.01) 62.5%,
            rgba(151, 151, 151, 0.01) 62.5%,
            rgba(151, 151, 151, 0.01) 75%,
            rgba(16, 16, 16, 0.01) 75%,
            rgba(16, 16, 16, 0.01) 87.5%,
            rgba(242, 242, 242, 0.01) 87.5%,
            rgba(242, 242, 242, 0.01) 100%
        ),
        linear-gradient(
            6deg,
            rgba(31, 31, 31, 0.02) 0%,
            rgba(31, 31, 31, 0.02) 20%,
            rgba(193, 193, 193, 0.02) 20%,
            rgba(193, 193, 193, 0.02) 40%,
            rgba(139, 139, 139, 0.02) 40%,
            rgba(139, 139, 139, 0.02) 60%,
            rgba(14, 14, 14, 0.02) 60%,
            rgba(14, 14, 14, 0.02) 80%,
            rgba(122, 122, 122, 0.02) 80%,
            rgba(122, 122, 122, 0.02) 100%
        ),
        linear-gradient(
            279deg,
            rgba(190, 190, 190, 0.02) 0%,
            rgba(190, 190, 190, 0.02) 14.286%,
            rgba(160, 160, 160, 0.02) 14.286%,
            rgba(160, 160, 160, 0.02) 28.572%,
            rgba(23, 23, 23, 0.02) 28.572%,
            rgba(23, 23, 23, 0.02) 42.858%,
            rgba(60, 60, 60, 0.02) 42.858%,
            rgba(60, 60, 60, 0.02) 57.144%,
            rgba(149, 149, 149, 0.02) 57.144%,
            rgba(149, 149, 149, 0.02) 71.42999999999999%,
            rgba(4, 4, 4, 0.02) 71.43%,
            rgba(4, 4, 4, 0.02) 85.71600000000001%,
            rgba(50, 50, 50, 0.02) 85.716%,
            rgba(50, 50, 50, 0.02) 100.002%
        ),
        linear-gradient(
            109deg,
            rgba(124, 124, 124, 0.03) 0%,
            rgba(124, 124, 124, 0.03) 12.5%,
            rgba(61, 61, 61, 0.03) 12.5%,
            rgba(61, 61, 61, 0.03) 25%,
            rgba(187, 187, 187, 0.03) 25%,
            rgba(187, 187, 187, 0.03) 37.5%,
            rgba(207, 207, 207, 0.03) 37.5%,
            rgba(207, 207, 207, 0.03) 50%,
            rgba(206, 206, 206, 0.03) 50%,
            rgba(206, 206, 206, 0.03) 62.5%,
            rgba(118, 118, 118, 0.03) 62.5%,
            rgba(118, 118, 118, 0.03) 75%,
            rgba(89, 89, 89, 0.03) 75%,
            rgba(89, 89, 89, 0.03) 87.5%,
            rgba(96, 96, 96, 0.03) 87.5%,
            rgba(96, 96, 96, 0.03) 100%
        ),
        linear-gradient(
            329deg,
            rgba(35, 35, 35, 0.02) 0%,
            rgba(35, 35, 35, 0.02) 20%,
            rgba(246, 246, 246, 0.02) 20%,
            rgba(246, 246, 246, 0.02) 40%,
            rgba(118, 118, 118, 0.02) 40%,
            rgba(118, 118, 118, 0.02) 60%,
            rgba(245, 245, 245, 0.02) 60%,
            rgba(245, 245, 245, 0.02) 80%,
            rgba(140, 140, 140, 0.02) 80%,
            rgba(140, 140, 140, 0.02) 100%
        ),
        linear-gradient(90deg, hsl(314, 0%, 31%), hsl(314, 0%, 31%));
    color: white;
}

.hero-lg .btn,
.btn-lg {
    font-size: 1.1rem;
    font-weight: 700;
    background-color: #0e9bb0;
    border-color: #0e9bb0;
    color: #fff;
}

#btn-newsletter {
    font-size: 1rem;
    font-weight: 700;
    background-color: #0e9bb082;
    color: #fff;
    padding: 0.25rem;
    border: solid 1px #0e9bb0;
}

#btn-newsletter:hover {
    background-color: #0e9bb0;
}

.btn-lg:hover {
    background-color: #027c8e;
}

.hero-lg .btn:hover {
    background-color: #027c8e;
    border-color: #0e9bb0;
    color: #fff;
}

.bg-gray {
    background-color: #f4f4f4 !important;
}

.main-content.modal-active {
    filter: blur(4px);
}

/*
corrige la couleur de l'overlay et la position des modales ;
requis du fait d'un conflit entre micromodal.js et spectre.css
*/
.modal.modal-lg .modal-overlay {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 320px) {
    .navbar {
        flex-grow: 1;
    }

    .navbar-section.vertical-xxs {
        flex-direction: column;
        align-items: flex-start;
    }
}

.navbar .navbar-section:not(:first-child):last-child {
    justify-content: flex-start;
}

.stretch {
    max-width: 100%;
}

.rounded {
    border-radius: 50%;
    width: 192px;
    height: 192px;
    overflow: hidden;
    margin: 1rem;
    box-shadow: 5px 5px 5px darkgrey;
}

.rounded .img-responsive {
    height: 192px;
}

.list-inline {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

/* Spritesheet */
.benoit-min,
.houssam-min,
.pascal-min,
.alvaro-serrano-133380-unsplash-min,
.brooke-cagle-609873-unsplash-min,
.bruno-cervera-578520-unsplash-min,
.gael-min,
.headway-537308-unsplash-min,
.nicolas-ladino-silva-267845-unsplash-min {
    display: inline-block;
    background: url("../img/spritesheet.jpg") no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.benoit-min {
    background-position: -1px -0px;
    width: 192px;
    height: 192px;
}

.houssam-min {
    background-position: -194px -0px;
    width: 192px;
    height: 192px;
}

.pascal-min {
    background-position: -387px -0px;
    width: 192px;
    height: 192px;
}

.alvaro-serrano-133380-unsplash-min {
    background-position: -1px -193px;
    width: 192px;
    height: 192px;
}

.brooke-cagle-609873-unsplash-min {
    background-position: -194px -193px;
    width: 192px;
    height: 192px;
}

.bruno-cervera-578520-unsplash-min {
    background-position: -387px -193px;
    width: 192px;
    height: 192px;
}

.gael-min {
    background-position: -1px -386px;
    width: 192px;
    height: 192px;
}

.headway-537308-unsplash-min {
    background-position: -194px -386px;
    width: 192px;
    height: 192px;
}

.nicolas-ladino-silva-267845-unsplash-min {
    background-position: -387px -386px;
    width: 192px;
    height: 192px;
}

#register1,
#register2 {
    color: #fff;
    font-size: 1.1rem;
    height: 3rem;
    line-height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1.2rem;
}

.logo-sponsors {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 50px;
    align-items: center;
    text-align: center;
}

.logo-sponsors :nth-child(6n+1) {
    grid-column: 1 / 2;
    width: 100%;
}

.logo-sponsors :nth-child(6n+2) {
    grid-column: 2 / 3;
    width: 100%;
}

.logo-sponsors :nth-child(6n+3) {
    grid-column: 3 / 4;
    width: 100%;
}

.logo-sponsors :nth-child(6n+4) {
    grid-column: 4 / 5;
}

.logo-sponsors :nth-child(6n+5) {
    grid-column: 5 / 6;
}

.logo-sponsors img.square {
    width: 75%;
}

@media screen and (max-width: 576px) {
    .logo-sponsors {
        grid-template-columns: repeat(2, 1fr);
    }

    .logo-sponsors :nth-child(6n+1) {
        grid-column: 1 / 2;
        width: 100%;
    }

    .logo-sponsors :nth-child(6n+2) {
        grid-column: 2 / 3;
        width: 100%;
    }

    .logo-sponsors :nth-child(6n+3) {
        grid-column: 1 / 2;
        width: 100%;
    }

    .logo-sponsors :nth-child(6n+4) {
        grid-column: 2 / 3;
    }

    .logo-sponsors :nth-child(6n+5) {
        grid-column: 1 / 2;
    }
}